.btnArea {
    padding: 0 25px;
    background-image: linear-gradient(#24232c, #24232c, #3a3939);

    .car-divisor {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 25px;
        margin: 35px 0;

        span { 
            width: 100%;
            background-color:  #d1d1d1;
            height: 1px;
        }
        
        img { 
            width: 35px;
            margin: 0 10px;
            opacity: 0.7;
        }

    }

    .buttons {
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 25px;
        flex-wrap: wrap;

        .button-home {
            width: 294px;
            height: 141px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 3px solid #d1d1d1;
            color: #6c6c6c;
            text-decoration: none;
            font-family: Roboto;
            font-weight: 600;
            font-size: 18px;
            flex-direction: column;
            border-radius: 19px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            margin: 10px 15px;
    
            &:hover {
                color: #ff9800;
                border-color: #ff9800;
                cursor: pointer;
            }
        }
    }
}